body{
    font-family: 'Geneva', sans-serif; 

}
.apple-pie-heading {
background-image: url('../images/apple-pie.jpg');
align-items:center;
margin:20px;
background-position: 0 0;
background-size: cover;
background-repeat: no-repeat;
height: 850px;
text-align: center;
color: white;
font-size: 100px;
border-style:solid;
border-radius: 5px;
line-height: 450px;
}

div{
    width: 1500px;
    margin:20px
}

img{  
   line-height: 500px;
    text-align: center;
}

